<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">The Education Commonwealth Project</h1>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>



<!-- Features section-->
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h2><%= link_to "About ECP", work_with_ecp_index_path %></h2>
        <p>The Education Commonwealth Project (ECP) works to support assessment of student learning and school progress that is valid, democratic, and equitable. Pushing back against the overreliance on standardized testing, ECP offers free and open-source resources that all schools can use. And thanks to support from the Massachusetts State Legislature, ECP offers additional support for public schools and districts in Massachusetts.</p>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h2><%= link_to "School Quality Measures", sqm_index_path %></h2>
        <p>SQM honors the full range of what schools do, using data to support and sustain schools rather than to rate and rank them. Whether it means identifying new indicators for tracking progress, or visualizing data in ways that foster richer conversations, the SQM team is here to support Massachusetts districts as they work to assemble a fuller and more accurate portrait of their schools. </p>
      </div>
      <div class="col-lg-4">
        <h2><%= link_to "Quality Performance Assessment", qpa_index_path %></h2>
        <p>QPA offers a clearer picture of what students know and can do, assessing learning through the use of meaningful projects designed by educators. By providing examples of high quality performance assessments, a toolkit of protocols, and guidance, the QPA team seeks to provide a model for reimagining state assessment in Massachusetts and beyond. </p>
      </div>
    </div>
  </div>
</section>

<!-- Contact section-->
<div class="row">
  <section class="col-md-2 mx-auto">
  <!-- Message confirmation-->
  <%= render partial: 'layouts/message_confirmation' %>

  <%= render partial: "contacts/contact_form"  %>
  </section>
</div>
