<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">Team</h1>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Team members-->
<div class="container px-5 text-center">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-8 mt-5">
      <h1 class="page-header-ui-title mb-3">The ECP Team</h1>

      <div class="accordion my-5" id="teamAccordion">

        <!-- ECP Leadership -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button fs-4 fg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              ECP Leadership 
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <div class="row mb-5">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-start p-4 p-lg-5 pt-0 pt-lg-0">
                    <h2 class="mt-5 fs-4 fw-bold">Jack Schneider</h2>
                    <h3 class="fs-4">Executive Director</h3>
                    <p class="mb-0">Jack Schneider is the Executive Director of the Education Commonwealth Project and an Associate Professor of Education at the University of Massachusetts Lowell. A nationally-recognized expert in educational measurement and accountability, Jack has worked for over a decade to support public schools and districts in Massachusetts. He is a co-founder of the Massachusetts Consortium for Innovative Education Assessment, co-directs a research-practice partnership with the Lowell Public Schools, and is a winner of the Massachusetts Teachers Association’s “Friend of Education” Award. A former classroom teacher, Jack lives in Somerville, MA, where his daughter is a student in the public schools. </p>
                      <%= mail_to "jack@edcommonwealth.org", "Contact Jack" %>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- District Outreach -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              District Outreach 
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row my-5">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-start p-4 p-lg-5 pt-0 pt-lg-0">
                    <h2 class="fs-4 fw-bold">Julie Spencer-Robinson</h2>
                    <h3 class="fs-4">Director of Engagement</h3>
                    <p class="mb-0">Julie Spencer-Robinson is Director of Engagement at the Education Commonwealth Project. She recently earned her Ph.D. in Educational Policy, Research, and Administration from the University of Massachusetts Amherst. Julie worked for 25 years as a public middle and high school teacher, and was also president of the Northampton Association of School Employees. She currently serves as an elected trustee of Smith Vocational and Agricultural High School, as a board member of the Collaborative for Educational Services, and on the Vocational Technical Education Advisory Council to the Massachusetts Board of Elementary and Secondary Education.</p>
                    <%= mail_to "julie@edcommonwealth.org", "Contact Julie"  %>
                  </div>
                </div>
              </div>

              <div class="row mb-5">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-start p-4 p-lg-5 pt-0 pt-lg-0">
                    <h2 class="fs-4 fw-bold">Akira Harper</h2>
                    <h3 class="fs-4">Project Associate, Engagement</h3>
                    <p class="mb-0"> Akira Harper works on the Engagement Team in the Education Commonwealth Project. She is a Ph.D. candidate, an NSF Fellow, and is earning her degree in STEM Education and Teacher Development at the University of Massachusetts Dartmouth. She specializes in (non-traditional) assessment, curriculum development and implementation, working with STEM teachers, and humanizing communities that have been underserved or marginalized. She is deeply committed to transforming educational spaces, that have been structurally designed to reaffirm inequitable ideologies or policies, through racially-just and equity-oriented work. </p>
                    <%= mail_to "akira@edcommonwealth.org", "Contact Akira"  %>
                  </div>
                </div>
              </div>

              <div class="row mb-5">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-start p-4 p-lg-5 pt-0 pt-lg-0">
                    <h2 class="fs-4 fw-bold">Karalyn McGovern</h2>
                    <h3 class="fs-4">Project Associate, Outreach and Research</h3>
                    <p class="mb-0">Karalyn McGovern is a PhD candidate at the University of Massachusetts Lowell in the Education Leadership program. She has experience in research and program evaluation, including work related to alternative assessment and measurement & accountability with the Beyond Test Scores project. She has extensive classroom experience as a high school English teacher for sixteen years, and, currently, works as an adjunct professor of Critical Reading & Writing at Endicott College.</p>
                    <%= mail_to "karalyn@edcommonwealth.org", "Contact Karalyn"  %>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- School quality Measures -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              School Quality Measures
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <div class="row my-5">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-start p-4 p-lg-5 pt-0 pt-lg-0">
                    <h2 class="fs-4 fw-bold">Peter Piazza</h2>
                    <h3 class="fs-4">Director, School Quality Measures</h3>
                    <p class="mb-0">Peter Piazza is the Director of the School Quality Measures project at the Education Commonwealth Project. He formerly led school quality measure work at the Massachusetts’ Consortium for Innovative Educational Assessment, a coalition of public K-12 districts piloting a non-test-based form of school quality measurement. He completed a post-doctoral fellowship at Penn State’s Center for Education and Civil Rights, and he writes about race and school integration at the <%= link_to "School Diversity Notebook", "https://sdnotebook.com/" %> blog, an affiliate of the National Coalition on School Diversity. Peter is also an adjunct instructor in the Leadership in Schooling Ed.D. program at the University of Massachusetts - Lowell. He earned his Ph.D. in Curriculum and Instruction from Boston College in 2015. He lives in Malden, MA, where his daughter is a student in the public schools.</p>
                    <%= mail_to "peter@edcommonwealth.org", "Contact Peter"  %>
                  </div>
                </div>
              </div>

              <div class="row mb-5">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-start p-4 p-lg-5 pt-0 pt-lg-0">
                    <h2 class="fs-4 fw-bold">Ashley Carey</h2>
                    <h3 class="fs-4">Project Associate, School Quality Measures</h3>
                    <p class="mb-0">Ashley Carey is a doctoral candidate at the University of Massachusetts Lowell and a former Lawrence High School art teacher. She joins ECP with practical and research experience related to school measurement and accountability. During her time at MCIEA, Ashley worked with teachers, school leaders, and district administrators, to help build their capacity for engaging with and understanding a broad range of data. As an affiliate of the Beyond Test Scores Project, she collaborates on research projects that examine the role of educational accountability, including its relationship to racial and socioeconomic inequality. Ashley also works as an adjunct instructor at Merrimack College, where she teaches in the department of Human Development & Community Engagement. </p>
                    <%= mail_to "ashley@edcommonwealth.org", "Contact Ashley"  %>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Quality Performace Assessment -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              Quality Performace Assessment
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <div class="row my-5">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-start p-4 p-lg-5 pt-0 pt-lg-0">
                    <h2 class="fs-4 fw-bold">Dan French</h2>
                    <h3 class="fs-4">Senior Fellow, Quality Performance Assessments</h3>
                    <p class="mb-0">Dan French co-leads performance assessment work within ECP. He was formerly executive director of Center for Collaborative Education, a nonprofit dedicated to assist public school districts to create equity-minded schools that provide quality education to every student. In this role, he co-founded the Massachusetts Consortium for Innovative Education Assessment, a model of assessing school quality and student learning that can serve as an alternative to the current biased MA education accountability system. Prior, Dan was director of curriculum & instruction at Massachusetts Department of Elementary and Secondary Education, before leaving in protest of the agency’s move toward a single, high stakes standardized graduation test. He started his education career as a teacher of students with special needs. Dan received his doctorate from UMass Amherst.</p>
                    <%= mail_to "dan@edcommonwealth.org", "Contact Dan"  %>
                  </div>
                </div>
              </div>

              <div class="row mb-5">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-start p-4 p-lg-5 pt-0 pt-lg-0">
                    <h2 class="fs-4 fw-bold">Susan Lyons</h2>
                    <h3 class="fs-4">Technical Advisor, Quality Performance Assessments</h3>
                    <p class="mb-0">Dr. Susan Lyons is the owner and Principal Consultant at <%= link_to "Lyons Assessment Consulting", "https://www.lyonsassessmentconsulting.com/" %>. Her firm is a leader in supporting innovation in educational assessment and school accountability, working closely with clients across the country to transform traditional assessment systems to better serve all students. Dr. Lyons began her career in the classroom as a seventh-grade math teacher in Quito, Ecuador. In addition to her consulting work, Dr. Lyons is a part-time faculty member at Boston College and is the Executive Director of a non-profit organization dedicated to advancing gender and racial equity in the field of educational measurement, <%= link_to "Women in Measurement", "https://womeninmeasurement.org/" %>.</p>
                    <%= mail_to "susan@edcommonwealth.org", "Contact Susan"  %>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Web Development -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Web Development</button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <div class="row my-5">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-start p-4 p-lg-5 pt-0 pt-lg-0">
                    <h2 class="fs-4 fw-bold">Nelson Jovel</h2>
                    <h3 class="fs-4">Software Engineering Lead</h3>
                    <p class="mb-0">Nelson Jovel has previously worked as a teacher for <%= link_to "Summerbridge", "https://www.breakthroughcollaborative.org/" %>; a summer school program for under-resourced students. He also worked at Woodside Priory School assisting students residing at the school through the boarding program.  Nelson Jovel is the lead developer of the <%= link_to "School Quality Measures Dashboard", "https://mciea-dashboard.herokuapp.com/welcome" %> for MCIEA. He is also the developer on the project to customize the School Quality Measures Dashboard for the district of Lowell.</p>
                    <%= mail_to "nelson@edcommonwealth.org", "Contact Nelson"  %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
