<%# TODO: Delete this file and controller %>
<!-- Header -->
<%= render partial: "layouts/header", locals: {heading: "Research"}  %>

<!-- Content -->
<div class="container px-5 my-5">
  <div class="row gx-5 justify-content-center">
    <div class="grid-container download-container">
      <h2 class="my-3 text-center fs-5">Test anxiety and poor sleep: a vicious cycle</h2>
      <%= link_to(research_download_pdf_path(path: "test_anxiety_and_poor_sleep")) do  %>
        <%= image_tag "research/test_anxiety_and_sleep.png", class: "file-download"  %>
      <% end %>
    </div>
    <div class="grid-container download-container">
      <h2 class="my-3 text-center fs-5">The psychological toll of high-stakes testing</h2>
      <%= link_to(research_download_pdf_path(path: "psychological_toll_of_high_stakes_testing")) do  %>
        <%= image_tag "research/psychological_toll_of_high_stakes_testing.png", class: "file-download"  %>
      <% end %>
    </div>
    <div class="grid-container download-container">
      <h2 class="my-3 text-center fs-5">Testing, stress, and performance: How students respond phycologically to high-stakes testing</h2>
      <%= link_to(  research_download_pdf_path(path: "testing_stress_and_performance")) do  %>
        <%= image_tag "research/testing_stress.png", class: "file-download"  %>
      <% end %>
    </div>
  </div>
</div>
