<div class="container text-nowrap">
  <footer class="row footer mt-7 row justify-content-between align-items-center">
    <div class="col">
      <div class="row align-items-center justify-content-center ">
        <%= image_tag "logo.svg", size: "150x150", class: "col"  %> 
        <div class="col text-center">
          <p class="fw-bold">Education Commonwealth Project</p>
          <p>University of Massachusetts Lowell</p>
          <p>850 Broadway St</p>
          <p>Lowell, MA 01854</p>
        </div> 
      </div> 
    </div>
    <div class="col">
      <section class="row">
        <article class="col">
          <%= link_to contacts_path do  %>
            <div class="d-flex flex-column align-items-center">
              <%= image_tag "mail.svg", size: "100x100"  %>
              <p class="text-center">Contact Us</p>
            </div>
          <% end %>
        </article>
        <article class="col">
          <%= link_to "https://twitter.com/EdCommProject", target: :_blank do  %>
            <div class="d-flex flex-column align-items-center">
              <%= image_tag "twitter.svg" , size: "100x100" %>
              <p class="text-center">Follow Us</p>
            </div>
          <% end %>
        </article>
      </section>
    </div>
  </footer>
</div>
