<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark-blue">
<%# <nav class="navbar navbar-expand-lg"> %>
  <div class="container px-5">
    <a class="navbar-brand" href="/" >
      <%= image_tag "transparent_circle_logo.svg" , style: "height: 100px;" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= link_highlight(paths: [sqm_index_path, qpa_index_path]) %>" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our Work
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li ><%= link_to "School Quality Measures", sqm_index_path, class: "dropdown-item" %></li>
            <li class="nav-item"><%= link_to "Quality Performance Assessment", qpa_index_path, class: "dropdown-item"%></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= link_highlight(paths: [ in_the_news_index_path, research_index_path, resource_index_path])  %> " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            News and Resources
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item"><%= link_to "ECP in the News", in_the_news_index_path, class: "dropdown-item"  %></li>
            <li class="nav-item"><%= link_to "SQM resources", sqm_resources_path, class: "dropdown-item"  %></li>
            <li class="nav-item"><%= link_to "QPA resources", qpa_resources_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= link_highlight(paths: [ team_index_path]) %>" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item"><%= link_to "History", construction_index_path, class: "dropdown-item"  %></li>
            <li class="nav-item"><%= link_to "Team", team_index_path, class: "dropdown-item"%></li>
            <li class="nav-item"><%= link_to "Board of Directors", construction_index_path, class: "dropdown-item"  %></li>
            <li class="nav-item"><%= link_to "Funders", construction_index_path, class: "dropdown-item"  %></li>
          </ul>
        </li>
        <li class="nav-item"><%= link_to "Work With ECP", work_with_ecp_index_path, class: "nav-link " + link_highlight(paths: [work_with_ecp_index_path])  %></li>
      </ul>
    </div>
  </div>
</nav>
