<!-- Responsive navbar-->
<nav class="navbar navbar-expand-sm">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="nav navbar-nav mb-2 mb-lg-0">
      <li class="nav-item"><%= link_to "Home", home_index_path, class: "nav-link " + link_highlight(paths: [home_index_path, root_path])  %></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= link_highlight(paths: [sqm_index_path, qpa_index_path]) %>" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Our Work
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li ><%= link_to "School Quality Measures", sqm_index_path, class: "dropdown-item" %></li>
          <li class="nav-item"><%= link_to "Quality Performance Assessment", qpa_index_path, class: "dropdown-item"%></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= link_highlight(paths: [ in_the_news_index_path, sqm_resources_path, qpa_resources_path])  %> " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          News and Resources
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="nav-item"><%= link_to "ECP in the News", in_the_news_index_path, class: "dropdown-item"  %></li>
          <li class="nav-item"><%= link_to "SQM resources", sqm_resources_path, class: "dropdown-item"  %></li>
          <li class="nav-item"><%= link_to "QPA resources", qpa_resources_path, class: "dropdown-item" %></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= link_highlight(paths: [ team_index_path, construction_index_path]) %>" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          About Us
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="nav-item"><%= link_to "Team", team_index_path, class: "dropdown-item"%></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
