<!DOCTYPE html>
<html>
  <head>
    <title>EdCommonwealth</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> %>

    <%= render partial: 'layouts/google_analytics', locals: { google_analytics_id: @google_analytics_id } %>
  </head>

  <body>
    <%= render partial: 'layouts/nav' %>
    <%= yield %>

    <!-- Footer-->
    <footer class=" bg-dark-blue row justify-content-center align-items-center">
      <div class="col-12  col-md-3 py-5 ms-5 text-center text-white">
        <p class="fw-bold fs-5">University of Massachusetts Lowell</p>
        <p>School of Education</p>
        <p>Coburn Hall</p>
        <p>850 Broadway St, Lowell, MA 01854</p>
      </div> 

      <div class="col-12 col-md-3 py-5 text-center color-gray-2">
        <p><span class="color-gray-2 fw-bold"> General Inquiries</span>: julie@edcommonwealth.org</p>
        <p><span class="color-gray-2 fw-bold"> School Quality Measures</span>: peter@edcommonwealth.org</p>
        <p><span class="color-gray-2 fw-bold"> Quality Performance Assessment</span>: dan@edcommonwealth.org</p>
      </div>

      <div class="col-12 col-md-3 py-5 me-5"><p class="text-center text-white">Copyright &copy; <span class="fw-bold">ECP 2023</span></p></div>
    </footer>
  </body>
</html>
