<!DOCTYPE html>
<html>
  <head>
    <title>EdCommonwealth</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render partial: 'layouts/nav' %>
    <%= yield %>

    <!-- Footer-->
    <footer class="py-5 bg-dark-blue">
      <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; ECP 2022</p></div>
    </footer>
  </body>
</html>
