<!-- Header-->
<%= render partial: "layouts/header", locals: {heading: "In The News"}  %>

<!-- Content-->
<div class="container px-5 my-5">
  <div class="row gx-5 justify-content-center">
    <div class="grid-container download-container">
      <h2 class="my-3 text-center fs-5">Devising a holistic data dashboard</h2>
      <%= link_to(in_the_news_download_pdf_path(path: "devising_a_holistic_data_dashboard")) do  %>
        <%= image_tag "in_the_news/devising_a_holistic_data_dashboard.png", class: "file-download"  %>
      <% end %>
    </div>

    <div class="grid-container download-container">
      <h2 class="my-3 text-center fs-5">Changes possible in state education policy</h2>
      <%= link_to(in_the_news_download_pdf_path(path: "changes_possible_in_state_education_policy")) do  %>
        <%= image_tag "in_the_news/changes_possible_in_state_education_policy.png", class: "file-download"  %>
      <% end %>
    </div>

    <div class="grid-container download-container">
      <h4 class="my-3 text-center fs-5">How six Massechussets communinities are imagining life beyond MCAS</h4>
      <%= link_to(in_the_news_download_pdf_path(path: "how_six_mass_communities_are_imagining_life_beyond_mcas")) do  %>
        <%= image_tag "in_the_news/how_six_mass_communities_are_imagining_life_beyond_mcas.png", class: "file-download"  %>
      <% end %>
    </div>

    <div class="grid-container download-container">
      <h4 class="my-3 text-center fs-5">State receivership wrong steop for Boston schools</h4>
      <%= link_to(in_the_news_download_pdf_path(path: "state_receivership_wrong_for_boston_schools")) do  %>
        <%= image_tag "in_the_news/state_receivership_wrong_for_boston_schools.webp", class: "file-download"  %>
      <% end %>
    </div>

    <div class="grid-container download-container">
      <h4 class="my-3 text-center fs-5">Tipping point for school accountability?</h4>
      <%= link_to(in_the_news_download_pdf_path(path: "tipping_point_for_school_accountability")) do  %>
        <%= image_tag "in_the_news/tipping_point_for_school_accountability.png", class: "file-download"  %>
      <% end %>
    </div>

    <div class="grid-container download-container">
      <h4 class="my-3 text-center fs-5">Vocational and exam school admission changes a good start</h4>
      <%= link_to(in_the_news_download_pdf_path(path: "vocational_and_exam_school_admission_changes")) do  %>
        <%= image_tag "in_the_news/vocational_and_exam_school_admission_changes.webp", class: "file-download"  %>
      <% end %>
    </div>

    <div class="grid-container download-container">
      <h4 class="my-3 text-center fs-5">Want to buy a home near a Massechussets 'best' public high school?  Look to spend $1M</h4>
      <%= link_to(in_the_news_download_pdf_path(path: "want_to_buy_a_home")) do  %>
        <%= image_tag "in_the_news/want_to_buy_a_home.jpg", class: "file-download"  %>
      <% end %>
    </div>

    <div class="grid-container download-container">
      <h4 class="my-3 text-center fs-5">Should you panic over America's test scores?</h4>
      <%= link_to("https://podcasts.apple.com/us/podcast/should-you-panic-over-americas-test-scores/id1438906889?i=1000584143940") do  %>
        <%= image_tag "in_the_news/should_you_panic_over_americas_test_scores.png" %>
      <% end %>
    </div>
  </div>
</div>
